@font-face{
    font-family: "EvilVampire";
    src: url("../Fonts/EvilVampire-Regular.ttf");
}
.Bg-video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
    transition: opacity 1s ease, transform 1s ease;
    pointer-events: none;
}
.Bg-video.next{    
    opacity: 0;
    transform: translateX(100%);
}
#imageElement {
    position: fixed;
    width: 130vw;
    height: 130vh;
    top: -10vh;
    left: -15vw;
    z-index: -1;
    object-fit: cover;
    transition: opacity 1s ease, transform 1s ease;
    pointer-events: none;
}
.slide-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}
@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}
#DungeonButton, #FishiLifeButton{
    display: none;
}
/* RESPONSIVE PARA MÓVILES: CENTRAR IMAGEN BIEN EN VERTICAL */
@media (max-width: 768px) {
  #imageElement {
    top: -5vh;
    left: -10vw;
    width: 150vw;
    height: 140vh;
  }

  .Bg-video {
    object-position: center center;
  }

  .slide-image {
    object-position: center center;
  }
}