.dungeonButton{
    position: absolute;
    cursor: pointer;
    top: 80vh;
    right: 75vh;
    padding: 1.5rem 3rem;
    color: rgb(233, 233, 233);
    background-color: transparent;
    border: 2px solid rgb(206, 103, 247);
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgb(133, 179, 179), 0 0 20px rgb(112, 156, 156);
    z-index: 5;
}
.dungeonButton:hover{
    color: #fff;
    background-color: rgb(235, 143, 204);
    box-shadow: 0 0 20px rgb(163, 125, 252), 0 0 40px rgb(180, 114, 235);
    transform: scale(1.05);
}
.dungeonButton:active{
    transform: scale(0.95);
    background-color: #87c0f0;
    box-shadow: 0 0 10px #ee93b1, 0 0 20px #ec8bd4;
}
.dungeonPanel{
    position: fixed;
    top: 118px;
    left: 10%;
    right: 10%;
    height: 85vh;
    background: linear-gradient(to right, 
            rgba(250, 133, 221, 0.021) 0%, 
            rgba(171, 153, 175, 0.671) 5%, 
            rgb(171, 153, 175, 0.671) 95%, 
            rgba(250, 133, 221, 0.021) 100%);
    color: white;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
    overflow-y: auto;
    scrollbar-width: none;
    z-index: 20;
    padding: 1rem;
}
.dungeonPanel::-webkit-scrollbar{ 
    display: none;
}
.dungeonPanel.activo{
    transform: translateY(0);
    opacity: 1;
    z-index: 20;
}
.dungeonPanel.InfoGame{
    padding: 10px;  
}
.InfoGame{
    font-size: 1.5rem;
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: 2rem auto;
    max-width: 90%;
}
.Title{
    color: black;
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 3rem auto 1rem;
    max-width: 90%;
}
.Album{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
}
.Album img, .Album video{
    max-width: 100%;
    width: 70vw;
    border-radius: 10px;
}
.Close{
    margin-top: 2rem;
    background: #0ff;
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
    transition: background 0.3s ease;
    display: none;
}
.hidenButton{
    margin: 2rem auto;
    padding: 1rem 5rem;
    color: rgb(233, 233, 233);
    background-color: transparent;
    border: 2px solid rgb(206, 103, 247);
    text-decoration: none;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgb(133, 179, 179), 0 0 20px rgb(112, 156, 156);
    z-index: 5;
    display: block;
    text-align: center;
}
.hidenButton:hover{
    color: #fff;
    background-color: rgb(235, 143, 204);
    box-shadow: 0 0 20px rgb(163, 125, 252), 0 0 40px rgb(180, 114, 235);
    transform: scale(1.05);
}
.hidenButton:active{
    transform: scale(0.95);
    background-color: #87c0f0;
    box-shadow: 0 0 10px #ee93b1, 0 0 20px #ec8bd4;
}
.Close:hover{
    background: #111111;
}
.DungeonPanel.mostrar-close .Close{
    display: block;
}



.fishiLifeButton{
    position: absolute;
    cursor: pointer;
    top: 80vh;
    right: 75vh;
    padding: 1.5rem 3rem;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.452);
    border: 2px solid rgb(234, 247, 123);
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgb(182, 255, 153), 0 0 20px rgb(248, 207, 119);
    z-index: 5;
}
.fishiLifeButton:hover{
    color: #fff;
    background-color: rgb(93, 236, 177);
    box-shadow: 0 0 20px rgb(133, 230, 68), 0 0 40px rgb(255, 153, 94);
    transform: scale(1.05);
}
.fishiLifeButton:active{
    transform: scale(0.95);
    background-color: rgb(93, 223, 255);;
    box-shadow: 0 0 10px #ebee58, 0 0 20px #ffb546;
}
.fishingPanel{
    position: fixed;
    top: 118px;
    left: 10%;
    right: 10%;
    height: 85vh;
    background: linear-gradient(to right, 
            rgba(175, 175, 175, 0.021) 0%, 
            rgba(109, 253, 205, 0.671) 5%, 
            rgba(109, 253, 205, 0.671) 95%, 
            rgba(175, 175, 175, 0.021) 100%);
    color: white;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
    overflow-y: auto;
    scrollbar-width: none;
    z-index: 20;
    padding: 1rem;
}
.fishingPanel::-webkit-scrollbar{ 
    display: none;
}
.fishingPanel.activo{
    transform: translateY(0);
    opacity: 1;
    z-index: 20;
}
.InfoFishingGame{
    font-size: 1.5rem;
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: 2rem auto;
    max-width: 90%;
}
.TitleFish{
    color: black;
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 3rem auto 1rem;
    max-width: 90%;
}
.carousel-Track{
    margin-top: 50px;
    width: 1000px;
    height: 550px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    overflow: visible;
}
.carousel-Track ::-webkit-scrollbar{
    width: 10px;
}
.carousel-Track ::-webkit-scrollbar-track{
    background: #f1f1f1;
}
.carousel-Track ::-webkit-scrollbar-thumb{
    background: #888;
}
.carousel-Track ::-webkit-scrollbar-thumb:hover{
    background: #555; 
}
.AlbumFishing {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
    height: 100%;
    padding: 10px;
}
.AlbumFishing img {
    height: 500px;
    width: auto;
    object-fit: cover;
    border-radius: 10px;
    flex-shrink: 0;
}
.CloseFishing{
    margin-top: 2rem;
    background: #0ff;
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
    transition: background 0.3s ease;
    display: none;
}
.hidenFishingButton{
    margin: 2rem auto;
    padding: 1rem 5rem;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.452);
    border: 2px solid rgb(234, 247, 123);
    text-decoration: none;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgb(182, 255, 153), 0 0 20px rgb(248, 207, 119);
    z-index: 5;
    display: block;
    text-align: center;
}
.hidenFishingButton:hover{
    color: #fff;
    background-color: rgb(93, 236, 177);
    box-shadow: 0 0 20px rgb(133, 230, 68), 0 0 40px rgb(255, 153, 94);
    transform: scale(1.05);
}
.hidenFishingButton:active{
    transform: scale(0.95);
    background-color: rgb(93, 223, 255);;
    box-shadow: 0 0 10px #ebee58, 0 0 20px #ffb546;
}
.CloseFishing:hover{
    background: #111111;
}
.fishingPanel.mostrar-close .CloseFishing{
    display: block;
}